body {
  margin: 0px;
}

.sub-list {
  padding-left: 7px !important;
}

.bigtext {
  min-height: 60px;
}

.mdc-deprecated-list-item__graphic {
  margin-right: 4px !important;
}

/* monaco-editor */
.me {
    position:absolute; right:0; top:0px;
    width:50%; height:100%; max-height:100% !important;
    margin:0; padding:0;
    overflow:hidden;
}